/* App.css */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background: linear-gradient(to bottom, #001b5e, #00d4ff);
  min-height:100vh;
}

.container{
  width:100%;
  text-align:center;
  color:white;
}

.header{
  background:#00104b;
  padding:25px;
}

.header h1{
  margin-bottom:10px;
}

.drag{
  background:#007bff;
  padding:15px;
  font-size:22px;
  font-weight:bold;
}

textarea{
  width:80%;
  height:350px;
  margin-top:30px;
  border:none;
  border-radius:5px;
  padding:20px;
  font-size:20px;
  outline:none;
  resize:none;
}

.fileBox{
  border:3px dashed white;
  width:350px;
  margin:30px auto;
  padding:25px;
}

button{
  padding:10px 25px;
  border:none;
  border-radius:5px;
  background:#0047ff;
  color:white;
  font-size:18px;
  margin-top:15px;
  cursor:pointer;
}

button:hover{
  background:#002fa3;
}